{% extends 'base.html.twig' %}

{% block title %}Pc pas à pas votre panier{% endblock %}

{% block body %}
<div>
    <p>Panier</p>

    {% for composant in panier %}
        <li class="d-flex align-items-center">
            {{ composant.marque }}
            {{ composant.modele }}
            {{ (composant.price / 100)|number_format(2, ',', ' ') }} €
        </li>
    {% endfor %}
</div>
{% endblock %}
