{% block body %}
<div>
    <table class="table table-hover table-sm caption-top table-responsive">
        <caption>Votre configuration</caption>
        <thead>
            <tr class="table-primary">
                <th scope="col">Marque</th>
                <th>Modèle</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
        {% for composant in panier %}
            <tr>
                <td>{{ composant.marque }}</td>
                <td>{{ composant.modele }}</td>
                <td>{{ (composant.price / 100)|number_format(2, ',', ' ') }} €</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
