{% extends 'base.html.twig' %}
{% block title %}Pc Pas à pas - Configurateur{% endblock %}

{% block body %}
    <div {{ vue_component('panierComponent', {'panier': panier} )}}></div>
    <h1 class='text-center'>Ajoutez des composants à votre configuration</h1>
    <div {{ vue_component('configurateurComponent', { 'categories' : categories, 'panier' : panier } )}}></div>
    <div {{ vue_component('configDetails', {'panier': panier} )}}></div>
</div>
{% endblock %}

