{% extends 'base.html.twig' %}
{% block title %}Pc Pas à pas - Configurateur{% endblock %}

{% block body %}
    <div {{ vue_component('panierComponent', {'panier': panier} )}}></div>
    <h1 class='text-center'>Configurateur</h1>
    <div {{ vue_component('configurateurComponent', { 'categories' : categories, 'composants': composants } )}}><div>
</div>
{% endblock %}

