{% extends 'base.html.twig' %}


{% block title %}Configurateur{% endblock %}

{% block body %}
{% apply inline_css(source("./styles/configurateur.css")) %}
    <h1 class='text-center'>Configurateur</h1>
    <div id="app">
    </div>
</div>
{% endapply %}
{% endblock %}

