{% extends 'base.html.twig' %}

{% block title %}Pc pas à pas - Accueil{% endblock %}

{% block body %}
    <h1 class="pt-3">Créez votre pc pas à pas</h1>
    <p class="fs-5 col-md-8">Configurez votre nouvel ordinateur sur mesure...</p>

    <div class="mb-5">
      <a href="{{ path('configurateur') }}" class="btn btn-primary btn-lg px-4">Commencez à configurer l'ordinateur de vos rêves</a>
    </div>
    <h1 class="pt-3">Les dernières configurations</h1>
    <h1 class="pt-3">Les différents composants d'un ordinateur</h1>
    <div class="container">
      <img src="images/composition.jpg" class="mx-auto d-flex img-fluid" alt="">
    </div>
{% endblock %}
