<!DOCTYPE html>
<html lang="fr">
    <head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}Pc pas à pas - Bienvenue{% endblock %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" type="image/ico" href="{{ asset('favicon.png') }}">
        <meta name="description" content="Site pas à pas">
                <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-153ZZY7C5M"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-153ZZY7C5M');
        </script>
                <!-- Fin de Google tag (gtag.js) -->
                {# Adsence #}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2401412736769800"
        crossorigin="anonymous"></script>
                {# fin de Adsence #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    {% endblock %}
    </head>
    <div class="">
        {% include 'partials/navbar.html.twig' %}
        <div class='mt-5 m-2'>
        {% include 'partials/flash-messages.html.twig' %}
            {% block body %}
            {% endblock %}
        </div>
    </div>
    </body>
</html>
